
/*** Spinner Start ***/
#spinner {
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s ease-out, visibility 0s linear .5s;
    z-index: 99999;
}

#spinner.show {
    transition: opacity .5s ease-out, visibility 0s linear 0s;
    visibility: visible;
    opacity: 1;
}
/*** Spinner End ***/

.back-to-top {
    position: fixed;
    right: 30px;
    bottom: 30px;
    transition: 0.5s;
    z-index: 99;
}


/*** Button Start ***/
.btn {
    font-weight: 600;
    transition: .5s;
}

.btn-square {
    width: 32px;
    height: 32px;
}

.btn-sm-square {
    width: 34px;
    height: 34px;
}

.btn-md-square {
    width: 40px;
    height: 40px;
}

.btn-lg-square {
    width: 46px;
    height: 46px;
}

.btn-xl-square {
    width: 56px;
    height: 56px;
}

.btn-square,
.btn-sm-square,
.btn-md-square,
.btn-lg-square,
.btn-xl-square {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
}

.btn.btn-primary {
    color: var(--bs-white);
    background: var(--bs-primary);
    border: none;
}

.btn.btn-primary:hover {
    background: var(--bs-dark);
    color: var(--bs-white);
}

.btn.btn-light {
    color: var(--bs-primary);
    border: none;
}

.btn.btn-light:hover {
    color: var(--bs-white);
    background: var(--bs-primary);
}



/*** Navbar Start ***/
.header-top .topbar .dropdown-toggle::after {
    border: none;
    content: "\f107";
    font-family: "Font Awesome 5 Free";
    font-weight: 600;
    vertical-align: middle;
    margin-left: 8px;
    color: var(--bs-primary);
}

.header-top .topbar .dropdown .dropdown-menu {
    transform: rotateX(0deg);
    visibility: visible;
    background: var(--bs-light);
    padding-top: 12px;
    border: 0;
    transition: .5s;
    opacity: 1;
}

.header-top {
    height: 125px;
    position: relative;
}

.header-top::after {
    content: "";
    position: absolute;
    overflow: hidden;
    width: 16%;
    height: 100%;
    top: 0;
    left: 0;
    background: var(--bs-dark);
    z-index: 1;
}

@media (min-width: 992px) {
    .header-top::before {
        content: "";
        position: absolute;
        overflow: hidden;
        width: 100%;
        height: 45px;
        top: 0;
        right: 0;
        background: var(--bs-dark);
        z-index: -1;
    }

    .navbar-brand-2 {
        display: none;
    }
}

@media (max-width: 991px) {
    .header-top {
        max-height: 80px;
    }

    .navbar {
        justify-content: space-between;
    }

    .header-top .container {
        max-height: 80px;
    }

    .navbar-brand {
        display: none;
    }


    .navbar-brand-2 {
        position: relative;
        width: auto; /* Allow flexible width */
        height: auto; /* Allow flexible height */
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: start;
        z-index: 99;
        overflow: visible; 
    }
    
    .navbar-brand-2 img {
        z-index: 100; /* Ensure image appears above pseudo-elements */
        width: 100%; 
        height: 80px; /* Maintain aspect ratio */
        object-fit: contain; /* Ensure proper scaling without distortion */
        align-self: center;
    }


    .navbar-brand-2 {
        position: relative;
        overflow: hidden;
        width: 200px;
        height: 100%;
        padding: 0;
        display: flex;
        align-items: center;
        z-index: 99;
    }

    
    .navbar-brand-2::before {
        content: "";
        position: absolute;
        overflow: hidden;
        width: 100%;
        height: 600px;
        top: -200px;
        right: 18px;
        background: var(--bs-dark);
        transform: rotate(-18deg);
        z-index: -1;
    }

    .navbar-brand-2::after {
        content: "";
        position: absolute;
        overflow: hidden;
        width: 10px;
        height: 600px;
        top: -200px;
        right: 18px;
        background: var(--bs-primary);
        transform: rotate(-18deg);
        z-index: -1;
    }

    .navbar.navbar-light {
        height: 100%;
        padding: 0;
    }

    .navbar .navbar-collapse {
        margin-top: -20px;
    }

}

.nav-bar .navbar {
    z-index: 9;
}

.navbar-light .navbar-brand img {
    max-height: 60px;
    transition: .5s;
}

.nav-bar .navbar-light .navbar-brand img {
    max-height: 50px;
}

.navbar .navbar-nav .nav-item .nav-link {
    padding: 0;
}

.navbar .navbar-nav .nav-item {
    display: flex;
    align-items: center;
    padding: 0;
    margin-right: 20px;
}

.navbar-light .navbar-nav .nav-item:hover,
.navbar-light .navbar-nav .nav-item.active,
.navbar-light .navbar-nav .nav-item:hover .nav-link,
.navbar-light .navbar-nav .nav-item.active .nav-link {
    color: var(--bs-primary);
    font-weight: bold
}

@media (max-width: 991px) {
    .navbar {
        padding: 20px 0;
    }

    .navbar .navbar-nav .nav-link {
        padding: 0;
    }

    .navbar .navbar-nav .nav-item {
        display: flex;
        padding: 12px;
        flex-direction: column;
        justify-content: start;
        align-items: start;
    }

    .navbar .navbar-nav .nav-btn {
        display: flex;
        justify-content: start;
    }

    .navbar .navbar-nav {
        width: 100%;
        display: flex;
        margin-top: 20px;
        padding-bottom: 20px;
        margin-left: 50px;
        background: var(--bs-light);
    }

    .navbar .navbar-nav .nav-btn {
        display: flex;
        flex-direction: column;
    }

    .navbar .navbar-nav .nav-btn a.btn {
        margin-right: 15px;
    }

    .navbar.navbar-expand-lg .navbar-toggler {
        padding: 8px 15px;
        border: 1px solid var(--bs-primary);
        color: var(--bs-primary);
    }
}

.navbar .dropdown-toggle::after {
    border: none;
    content: "\f107";
    font-family: "Font Awesome 5 Free";
    font-weight: 600;
    vertical-align: middle;
    margin-left: 8px;
}

.dropdown .dropdown-menu .dropdown-item:hover {
    background: var(--bs-primary);
    color: var(--bs-white);
}

@media (min-width: 992px) {
    .navbar {
        padding: 20px 0;
    }

    .navbar .nav-btn {
        display: flex;
        align-items: center;
        justify-content: end;
    }

    .navbar .navbar-nav {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background: var(--bs-light);
        border-radius: 10px;
    }

    .navbar .navbar-nav .nav-btn {
        width: 100%;
        display: flex;
        margin-left: auto;
    }

    .navbar .nav-item .dropdown-menu {
        display: block;
        visibility: hidden;
        top: 100%;
        transform: rotateX(-75deg);
        transform-origin: 0% 0%;
        border: 0;
        transition: .5s;
        opacity: 0;
    }

    .navbar .nav-item:hover .dropdown-menu {
        transform: rotateX(0deg);
        visibility: visible;
        margin-top: 19px;
        background: var(--bs-white);
        transition: .5s;
        opacity: 1;
    }

    .header-top .navbar-brand {
        position: relative;
        overflow: hidden;
        padding: 40px 120px 40px 0; 
        z-index: 99;
    }
    
    .navbar-brand::before {
        content: "";
        position: absolute;
        overflow: hidden;
        width: 300px;
        height: 600px;
        top: -200px;
        right: 18px;
        background: var(--bs-dark);
        transform: rotate(-18deg);
        z-index: -1;
    }
    
    .navbar-brand::after {
        content: "";
        position: absolute;
        overflow: hidden;
        width: 20px;
        height: 600px;
        top: -200px;
        right: 18px;
        background: var(--bs-primary);
        transform: rotate(-18deg);
        z-index: -1;
    }
}
/*** Navbar End ***/


/*** Carousel Hero Header Start ***/
.hero-section {
    background: linear-gradient(#000000ab, #000000c4), url('../img/carousel-1.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 100%;
    height: 700px;
    display: flex;
    align-items: center;
    position: relative;
}

.hero-bg-half-1 {
    background: linear-gradient(#000000ab, #000000c4), url('../img/header-2.jpg');
    clip-path: polygon(37% 0%, 100% 0%, 100% 100%, 0% 100%);
    filter: grayscale(10%);
    transform: scale(100% - 50%);
    background-position: center right;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    width: 58%;
    height: 100%;
    right: 0;
    top: 0;
}

.hero-bg-half-2 {
    background: linear-gradient(#000000ab, #000000c4), url('../img/header-1.jpg');
    clip-path: polygon(37% 0%, 100% 0%, 100% 100%, 0% 100%);
    filter: grayscale(10%);
    transform: scale(100% - 50%);
    background-position: center right;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    width: 58%;
    height: 100%;
    right: 0;
    top: 0;
}

.hero-shape-1 {
    background-color: var(--bs-primary);
    width: 150px;
    height: 50%;
    position: absolute;
    left: 54%;
    top: 0;
    transform: translateY(-50%) skew(-26deg, 0deg);
    position: relative;
}

.hero-shape-1:before {
    background-color: var(--bs-dark);
    content: "";
    width: 50%;
    height: 80%;
    position: absolute;
    right: 0;
    top: 0;
}

.hero-shape-2 {
    background-color: var(--bs-dark);
    width: 150px;
    height: 50%;
    position: absolute;
    right: -43%;
    bottom: 0;
    transform: translateY(50%) skew(-25deg, 0deg);
    position: relative;
    z-index: 1;
}

.hero-shape-2::after {
    background-color: var(--bs-primary);
    content: "";
    width: 75px;
    height: 80%;
    position: absolute;
    right: 0;
    bottom: 0;
}

/*** Carousel Hero Header Start ***/
.header-carousel .header-carousel-item {
    /* height: 700px; */
    height: 100vh;
}

.header-carousel .owl-nav .owl-prev {
    background-color: var(--bs-primary);
    margin-left: -500px;
}
.header-carousel .owl-nav .owl-next {
    background-color: var(--bs-primary);
    margin-left: -500px;
}

.header-carousel .header-carousel-item .carousel-caption {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .2);
    display: flex;
    align-items: center;
    z-index: 9;
}

@media (max-width: 991px) {
    .header-carousel .header-carousel-item .carousel-caption {
        padding-top: 45px;
    }

    .header-carousel.owl-carousel,
    .header-carousel .header-carousel-item {
        height: 700px;
    }
}
/*** Carousel Hero Header End ***/


/*** Single Page Hero Header Start ***/
.bg-breadcrumb {
    position: relative;
    overflow: hidden;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../img/banner-img.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 60px 0 60px 0;
    transition: 0.5s;
}

.bg-breadcrumb .breadcrumb {
    position: relative;
}

.bg-breadcrumb .breadcrumb .breadcrumb-item a {
    color: var(--bs-white);
}
/*** Single Page Hero Header End ***/



/*** Project Start ***/
.projects{
    background: var(--bs-light);
}

.projects .nav .nav-item {
    width: 75%;
    border: 1px solid var(--bs-primary);
    background: var(--bs-light);
}

.projects .nav .nav-item a {
    display: flex;
    justify-content: center;
}


.owl-stage-outer {
    margin-right: -1px;
}
.projects .nav-item a.active {
    background: var(--bs-primary);
}

.projects .nav-item a span {
    color: var(--bs-dark);
}

.projects .nav-item a.active span {
    color: var(--bs-white);
}

.service-carousel .owl-nav .owl-prev,
.service-carousel .owl-nav .owl-next {
    position: absolute;
    padding: 10px 35px;
    border: 1px solid var(--bs-primary);
    color: var(--bs-dark);
    background: var(--bs-light);
    transition: 0.5s;
}

.service-carousel .owl-nav .owl-prev:hover,
.service-carousel .owl-nav .owl-next:hover {
    background: var(--bs-primary);
    color: var(--bs-white);
}

@media (min-width: 992px) {
    .service-carousel .owl-nav .owl-prev {
        top: 0;
        left: -115px;
    }
    
    .service-carousel .owl-nav .owl-next {
        bottom: 0;
        left: -115px;
    }
}

@media (max-width: 991px) {
    .owl-stage-outer {
        margin-bottom: 70px;
    }
    .service-carousel .owl-nav .owl-prev {
        bottom: -70px;
        left: 0;
    }

    .service-carousel .owl-nav .owl-next {
        bottom: -70px;
        right: 0;
    }

    .projects .nav {
        display: flex;
        justify-content: center;
    }
}
/*** Project End ***/





/*** Services Start ***/

.services .nav-item {
    box-shadow: 0 0 30px rgba(0, 0, 0, .09);
}

.services-item .services-content {
    box-shadow: 0 0 30px rgba(0, 0, 0, .1);
}

.services .nav-item a.active {
    background: var(--bs-primary);
}

.services .nav-item a span {
    color: var(--bs-dark);
}

.services .nav-item a.active span {
    color: var(--bs-white);
}

.services .nav-item a.active .services-icon {
    background: var(--bs-dark) !important;
}

.services .nav-item a.active .services-icon span {
    color: var(--bs-primary);
}

/*** Services End ***/


/*** Contact Start ***/
.sended {
    padding: 10px;
    margin-top: 20px;
    border-radius: 5px;
    font-size: 20px;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.sended-success, 
.sended-error {
    text-align: center; /* Ensure text is centered for child elements */
}

.sended-success {
    color: #155724;
    background-color: #d4edda;
    border: 1px solid #c3e6cb;
}
.sended-error {
    color: #721c24;
    background-color: #f8d7da;
    border: 1px solid #f5c6cb;
}

.sended-loading {
    color:#878d97;
}

/*** Contact End ***/


/*** Team Start ***/
.team .team-item .team-img {
    position: relative;
    overflow: hidden;
}

.team .team-item .team-img img {
    transition: 0.5s;
}

.team .team-item:hover .team-img img {
    transform: scale(1.1);
}

.team .team-item .team-img .team-icon {
    position: absolute;
    bottom: 20px; right: -100%;
    z-index: 9;
    transition: 0.5s;
}

.team .team-item:hover .team-img .team-icon {
    right: 25px;
}

.team .team-item .team-img::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 0;
    top: 0;
    left: 0;
    background: rgba(246, 138, 10, .2);
    transition: 0.5s;
    z-index: 1;
}

.team .team-item:hover .team-img::after {
    height: 100%;
}

.team .team-item .team-content {
    transition: 0.5s;
}

.team .team-item:hover .team-content {
    box-shadow: 0 0 20px rgba(0, 0, 0, .2);
}
/*** Team End ***/



/*** Footer Start ***/

.footer {
    background: var(--bs-dark);
    padding: 2rem 0; 
}

.footer .footer-item a {
    line-height: 1.8rem; 
    color: var(--bs-white);
    transition: 0.5s;
    text-decoration: none; 
}

.footer .footer-item p {
    line-height: 1.8rem;
    color: var(--bs-white);
}

.footer .footer-item a:hover {
    letter-spacing: 1px;
    color: var(--bs-primary);
}


.footer .footer-item .footer-btn a {
    transition: 0.5s;
}

.footer .footer-item .footer-btn a:hover {
    background: var(--bs-white);
    color: var(--bs-primary);
}

@media (max-width: 991px) {
    .footer {
        padding: 1.5rem 0; 
    }

    .footer .footer-item {
        margin-bottom: 1.5rem; 
    }

    .footer .footer-item a {
        font-size: 0.9rem;
    }

    .footer .footer-item h4 {
        font-size: 1.4rem;
    }
}

@media (max-width: 768px) {
    .footer {
        text-align: center; 
    }

    .footer .footer-item {
        display: block; 
        align-items: center; 
    }

    .footer .footer-item a {
        font-size: 0.85rem; 
    }

    .footer .footer-item h4 {
        font-size: 1.2rem;
        margin-bottom: 1rem; 
    }
}

@media (max-width: 576px) {
    .footer {
        padding: 1rem 0; /
    }

    .footer .footer-item a {
        font-size: 1rem; 
        line-height: 1.5rem;
    }
}

/*** Footer End ***/



/*** copyright Start ***/
.copyright {
    border-top: 1px solid rgba(255, 255, 255, 0.08);
    background: var(--bs-dark);
}
/*** copyright end ***/





